<table border="1"> 
 <tr>
  <th>Employee name</td>
  <th>Shift Date</th>
  <th>Start Time</th>
  <th>Finish Time</th>
  <th>Break length(minutes)</th>
  <th>Hours worked</th>
  <th>Shift cost</th>
 </tr>
 <% @shifts.each do |shift| %>
  <tr>
   <td><%= shift.user.name  %></td>
   <td><%= Date.strptime(shift.created_at, "%m/%d/%Y") %></td>
   <td><%= shift.start %></td>
   <td><%= shift.finish %></td>
   <td><%= shift.break_length %></td>
   <td></td>
   <td></td>
  </tr>
 <% end %>
 <tr>
  <td><%= current_user.name %></td>
  <%= form_for :shift do |f|%>
   <%= f.hidden_field :user_id, value: current_user.id.to_i %>
   <td><%= f.date_field :created_at %></td>
   <td><%= f.time_field :start %></td>
   <td><%= f.time_field :end %></td>
   <td><%= f.text_field :break_length %></td>
   <td colspan="2"><%= f.submit "Create Shift"%></td>
  <% end %>
 </tr>
</table>
