<h1><a href="">Andat</a></h1>
<% if user_signed_in? %>
  logged in as <%= current_user.name %>
  <%#= link_to('Logout', destroy_user_session_path, method: :delete)%>
<% end %>

 <% unless current_user.organization_id.nil? %>
    <% controller.redirect_to edit_dashboard_organization_path(current_user.organization_id.to_i) %>
 <% else %>
      <h3>Organizations</h3>
      <table>
      <tr>
        <th>Name</th>
        <th>Action</th>
      </tr>
      <% @organization.each do |organization|%>
        <tr>
          <td><%= organization.name %></td>
          <td><%= link_to 'edit', edit_dashboard_organization_path(organization.id) %></td>
          <td><button id="<%= organization.id %>" name="<%= current_user.organization_id.nil? ? "empty": current_user.organization_id %>" value="<%= current_user.id%>"> Join</button></td>
        </tr>
        <script>
          $("#"+<%= organization.id %>).click(function(){
            
            if(this.name!==null){
              alert(this.class);
              $.ajax({
                url:"/dashboard/organization/join/join_organization",
                type:"GET",
                data: {
                  organization_id: this.id,
                  current_user_id: this.value
                },
                dataType:"JSON",
                  success:function(data){
                  
                  },
                  error:function(err)
                  {
                    console.log(err);
                  }     
              });
            }
            else{
              alert("can't join to other organization");
            }
          });
        </script>
      <% end %>
      </table>
      <br/>

      <h3>Create Organization</h3>
      <%= form_for :organization do |f| %>
        <%= f.hidden_field :id, placeholder:'', value:params[:id] %>  
        <%= f.label :name %>
        <%= f.text_field :name, placeholder:'name', value:'' %> <br><br> 
        <%= f.label :hourly_rate %>
        <%= f.text_field :hourly_rate, placeholder:'rate per hour', value:'' %>  per hour
        <%= f.submit "create and join" %>
      <% end %>
 <% end %>
